<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("home.ejs") %>
    <br><br>
    <form name="frm" action="/adddept" method="post">
         <div class="container bg-dark p-5">
      <div class="from-group">
       <input type="text" class="form-control control" name="name" value="" placeholder="enter Department name"/>

            </div>

           <div class="from-group">
            <input type="submit" class="btn btn-primary control form-control" name="s" value="Add new Department">
           </div> 

           <%
           if(abc.length!=0)
           {

           %>
           <div class="alert alert-success" role="alert">
             <%=abc%>   
           </div>
           <%
        }
        %>
        </form>

            </div>

</body>
</html>